.jumbotron {
    margin-bottom: 0px;
    padding: 15px;
    background-image: linear-gradient(to right, #0004ff, #595cff, #272866);
    color: white;
}

.row-content {
    padding-top: 50px;
    border-bottom: 1px ridge;
    min-height: 150px;
}

.row-content-override {
    border-bottom: none;
}

.card {
    margin-bottom: 2rem;
    z-index: 1;
}


.bottom_align {
    margin-bottom: 5px
}

.fa-color-change {
    color: green;
}

.fa-color-change2 {
    color: rgb(255, 197, 90)
}

.max-length {
    height: 800px;
}

.max-length-template{
    height: 560px;
}

.table-content {
    overflow: auto;
    margin-bottom: 10px;
}

.nav-bar-color {
    background-color: #0004ff;
}

.pl-push {
    padding-left: 100px;
}

.navbar {
    z-index: 2;
}

.big-logo {
    font-size: 500px;
    font-weight: 400;
}