.jumbotron {
    margin-bottom: 1px;
    padding: 10px;
    background-image: linear-gradient(to right, #0004ff, #595cff, #272866);
    color: white;
}

.row-content {
    padding: 50px 0;
    border-bottom: 1px ridge;
    min-height: 200px;
}


.card {
    margin-bottom: 2rem;
}


.bottom_align {
    margin-bottom: 5px
}

.fa-color-change {
    color: green;
}

.fa-color-change2 {
    color: rgb(255, 197, 90)
}

.max-length {
    height: 580px;
}

.table-content {
    overflow: auto;
    margin-bottom: 10px;
}

