<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script> -->
</head>
<body>

    {% extends "admin/templates/dashboard_template.html" %}
    {% block head %}
    {% endblock %}
    {% block col1 %}
    {% endblock %}
    {% block col2 %}
    {% endblock %}
    {% block nav %}
    {% endblock %}
    {% block cards %}
    {% endblock %}
    {% block modal %}
        <div class="container">
            <div class="h-100 v-100 d-flex align-items-center justify-content-center">
                <div class="big-logo">
                    Bill It.             
                </div>
            </div>
        </div>


        <div id="update_modal" class="modal fade text-left" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content shadow-lg" style="border-radius: 1rem; border-width: 6px; border-color: #0004ff;">
                    <div class="modal-header">
                        <h3 class="modal-title">Update this invoice?</h3>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="container-fluid">
                        <form class="px-4 py-4 table-content" method="POST">
    
                            <div class="form-group">
                                <label for="select_client">Client</label>
                                <div>
                                    <select
                                        aria-describedby="select_clientHelpBlock" required="required" id='client_company' class="custom-select">
                                        {% set default_client = client_id %}
                                        <option>{{client_list[client_id - 1]['company']}}</option>
                                        {% for client in client_list[0:-1] %}
                                        <option>{{client['company']}}</option>
                                        {% endfor %}
                                        <option>Add new client</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row mx-auto">
                                <div class="form-group">
                                    {% for inv in inv_to_update %}
                                    <label for="invoice_number">Invoice ID</label>
                                    <input id="inv_id" value="{{inv['id']}}" type="text" readonly class="form-control-plaintext" required="required"
                                        class="form-control"/>
                                </div>
                                <div class="form-group">
                                    <label for="invoice_amount">Amount</label>
        
                                    <input id="amount" cols="40" rows="1" value="{{inv['amount']}}" class="form-control"
                                        type="number" required="required"/>
        
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="textarea">Services</label>
                                <textarea id="services" name="services" type="text" cols="40" rows="3" class="form-control"
                                    aria-describedby="textareaHelpBlock">{{inv['services']}}</textarea>
                                <small id="textareaHelpBlock" class="form-text text-muted">Enter order charges</small>
                            </div>
                            {% endfor %}
                            <div class="form-group">
                                <div class="form-group">
                                    <label>Mark as "Sent"?</label>
                                    <div id="sent">
                                        <div class="custom-control custom-radio custom-control-inline">
                                            <input name="sent_boolean" id="sent_boolean_0" type="radio"
                                                class="custom-control-input" value= "true"
                                                aria-describedby="sent_booleanHelpBlock">
                                            <label for="sent_boolean_0" class="custom-control-label">Yes</label>
                                        </div>
                                        <div class="custom-control custom-radio custom-control-inline">
                                            <input name="sent_boolean" id="sent_boolean_1" type="radio"
                                                class="custom-control-input" value= "false"
                                                aria-describedby="sent_booleanHelpBlock">
                                            <label for="sent_boolean_1" class="custom-control-label">No</label>
                                        </div>
                                        <small id="sent_booleanHelpBlock" class="form-text text-muted">Has the invoice been sent?</small>
    
                                    </div>
                                </div>
                                <div id="sent-date-picker" class="form-group" style="display:none;">
                                    <label for="date-sent">Date Sent</label>
                                      <input id="date-sent" name="date-sent" cols="40" rows="1" class="form-control"
                                          type="date"/>
                                </div>
                                <div id="paid" class="form-group" style="display:none;">
                                    <label>Paid?</label>
                                    <div>
                                        <div class="custom-control custom-radio custom-control-inline">
                                            <input name="paid_boolean" id="paid_boolean_0" type="radio"
                                                class="custom-control-input" value= "true"
                                                aria-describedby="paid_booleanHelpBlock">
                                            <label for="paid_boolean_0" class="custom-control-label">Yes</label>
                                        </div>
                                        <div class="custom-control custom-radio custom-control-inline">
                                            <input name="paid_boolean" id="paid_boolean_1" type="radio"
                                                class="custom-control-input" value= "false"
                                                aria-describedby="paid_booleanHelpBlock">
                                            <label for="paid_boolean_1" class="custom-control-label">No</label>
                                        </div>
                                        <small id="paid_booleanHelpBlock" class="form-text text-muted">Has the invoice been
                                            paid?</small>

                                    </div>
                                </div>
                                <div id="paid-date-picker" class="form-group" style="display:none;">
                                    <label for="date-paid">Date Paid</label>
                                      <input id="date-paid" name="date-paid" cols="40" rows="1" class="form-control"
                                          type="date"/>
                                </div>
                            <div class="form-group">
                                <button id="cancel" type="button" class="btn btn-dark">Cancel</button>
                                <button id="update-submit" name="submit" type="submit" class="btn btn-primary">Update Invoice</button>
                            </div>
    
                        </form>
                    </div>
                </div>
            </div>
        </div>
        {% endblock %}
</body>
</html>